/Desenvolvimento de Sistemas  I/procedural java/imc program/IndiceMassaCorporalJava/nbproject/private/
/Desenvolvimento de Sistemas  I/procedural java/imc program/IndiceMassaCorporalJava/build/
/Desenvolvimento de Sistemas  I/procedural java/Calculadora/JCalculator/nbproject/private/
/Desenvolvimento de Sistemas  I/procedural java/Calculadora/JCalculator/build/
/Desenvolvimento de Sistemas  I/procedural java/Calculadora/JCalculator/dist/
/Desenvolvimento de sistemas I/Procedural/store/nbproject/private/
/Desenvolvimento de sistemas I/Procedural/ui.average/nbproject/private/
/Desenvolvimento de sistemas I/Procedural/ui.teste/nbproject/private/
/Desenvolvimento de sistemas I/Procedural/store/build/
/Desenvolvimento de sistemas I/Procedural/snackbar/nbproject/private/
/Desenvolvimento de sistemas I/Procedural/bhaskara/nbproject/private/